body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;    
}

#calculator-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 5px 10px rgba(17, 17, 17, 0.1);
    width: 300px;
    height: 400px;
}

input[type="number"] {
    margin: 20px;
    padding: 10px;
    width: 250px;
    font-size: 16px;
}
#number2 {
    margin-bottom: 60px;
}
.btn{
    display: flex;
    
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}